<!--list-gateway.html-->

<main>
  <div class="container">

    <div class="row gy-5">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <div class="h4 pb-2 mb-4 text-primary-emphasis border-bottom border-primary">My Gateways</div>
      </div>
    </div>

    <div class="row visually-hidden">
        <label for="search">Search gateways :</label>
        <input id="search" type="search" name="q">
        <button hx-get="/gateways" thx-target="#gateway-list" hx-include="#search">
          Search
        </button>
    </div>

    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <button class="btn btn-outline-primary" hx-get="/gateways/new" hx-target="#gateway-create" hx-swap="outerHTML">
          Add a new gateway
        </button> 
        <button type="button" class="btn btn-primary" id="bulk-delete">Bulk Delete</button>
      </div>
    </div>

    <div class="row px-4">
      <div class="col-lg-12 table-responsive">
        <table class="table table-hover align-middle caption-top">
          <caption>Nb of gateways : {{ .pagination.TotalRecords }}</caption>
          <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Gateway</th>
              <th scope="col">Protocol</th>
              <th scope="col">IP Address</th>
              <th scope="col">Port</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider" hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s" id="gateway-list">
            <tr id="gateway-create"></tr>
            {{ template "rows-gateway.html" . }}
          </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Pagination">

              {{ if ne .pagination.Prev 0 }}
              <button type="button" class="btn btn-outline-primary"><a href="/gateways/?page={{ .pagination.Prev }}">Prev</a></button>
              {{ end }}
              <button type="button" class="btn btn-outline-primary">{{ .pagination.CurrentPage }} / {{ .pagination.LastPage }}</button>
              {{ if ne .pagination.Next 0 }}
              <button type="button" class="btn btn-outline-primary"><a href="/gateways/?page={{ .pagination.Next }}">Next</a></button>
              {{ end }}
        </div>

      </div>
  
    </div>

  </div>  
</main>


