{{ range .gateways }}
<tr id="datarow-{{.ID}}">
  <th scope="row">{{.ID }}</td>
  <td>{{ .Name }}</td>
  <td>{{ .Protocol }}</td>
  <td>{{ .IpAddress }}</td>
  <td>{{ .Port}}</td>
  <td>
    <button class="btn btn-outline-warning" hx-delete="/gateways/{{.ID }}">
      Edit
    </button>

    <button class="btn btn-outline-danger" hx-delete="/gateways/{{.ID }}">
      Delete
    </button>
  </td>
</tr>
{{ end }}